body {
background-color:#DCE1E3;
min-height: 100vh;
}
.title-logo {
  display:flex;
  justify-content: center;
  color:rgb(58, 218, 151);
  font-weight: 500;
}
.title {/*tile for cocktail card*/
  color:tomato;
}

  
.logo-box {
  display:flex;
  justify-content: center;
  padding:0px;

}
.logo {
  height:200px;
  width:200px; 
  border-radius: 50px 50px 50px 50px;
  
}
.block {
  box-shadow:0 0 20px 5px #5C5F58;
}
.box {
  background-color: rgb(255, 193, 182);
}

.drink_options {
  color:rgb(53, 187, 131);
  font-weight: 500;
  margin: 10px;
}

.subtitle {
  display:flex;
  justify-content: center;
  color:rgb(52, 180, 127);
}
.back__a {
  color:white;
}

h2 {
  color: black;
}
.card {
  border-radius:25px 25px 25px 25px; 
  box-shadow: 0 0 20px 5px rgba(36, 36, 36, 0.5); 
  background-color: rgb(240, 207, 202);
}
.search_input {
  border-radius: 50px 50px 50px 50px;
  max-height: 100%;
  max-width: 25%;
  min-width: 200px;
}

.searchBtn__wrapper {
   align-items: center;
   width: 100%;
}

#search_input {
    margin: 5px;
    border: 1px solid rgb(68, 68, 240);
    font-size: medium;
}
h3 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: large;
  margin-bottom: 5px;
  color:rgb(53, 187, 131);
  
}
.button {
    margin: 5px;
    
}

.btn {
  border-radius: 50px 50px 50px 50px;
  height:40px;
  width:40px;
  border-color:cyan;
  background-color: rgb(166, 226, 226);
  outline:none;
}
.buttons {
  display:flex;
  justify-content: center;
}

.card {
    width: 300px;
    margin: 15px;
    min-height: 550px;
}

.card__link-tag {
    margin: 15px;
}

.card__link-tag:hover {
    box-shadow: 3px 3px 5px 6px #d8d8d8;
    background-color: #d8d8d8;
    border-radius:50px 50px 50px 50px; 
}
 